<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://phpunit.de/phpunit.xsd"
         backupGlobals="false"
         verbose="true">
    <testsuite name="PHPUnit">
        <directory suffix="_test.php">../tests</directory>
    </testsuite>

    <logging>
        <log type="coverage-clover" target="../build/logs/clover.xml"/>
    </logging>

</phpunit>